.main-content{
  background-color: rgb(65, 91, 130);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.posts-list-container{
  background-color: aliceblue;
  width: 60rem;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-container{
  margin: 2rem 1rem;
}

.post-header{
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.post-date{
  margin-right: 1rem;
}

.post-header-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post-content{
  margin-top: 1rem;
}

button{
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.button-add{
  background-color: rgb(104, 169, 104);
  border: 0;
  width: 100%;
}

.button-mod{
  background-color: rgb(201, 183, 77);
  border: 0;
}

.button-del{
  background-color: rgb(143, 52, 51);
  border: 0;
}

.button-container{
  width: 100%;
}

.modal-container{
  margin: 1rem auto;
  width: 30rem;
}

.modal-form{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}